.box{
  width: 90vw;
  height: 85vh;
  margin-top: 10em;
  margin-left: 5em;
  margin-right: 5em;
}

.events-menu {
  max-width: 65%;
  height: 400px;
}

.event-header {
  padding-top:20rem;
  display: flex;
  justify-content: center;
  font-size: 45px;
  ;
}

.events-menu {
  width: 80vw;
}

.moon {
  font-size: large;
}


.sun {
  font-size: large;
}

.planets {
  font-size: large;
}

.heartIcon {
  color: #AF42AE
}

.heartIcon:hover{
  color: white;
}