.dot {
  
  padding-left: 3em;
  padding-right: 3em;
  pointer-events: none;
  position: sticky;
  display: flex;
  padding: 80px;
  color: #8eb8e5;
  line-height: 1em;
  font-size: 100px;
  letter-spacing: 0px;
  align-items: center;
  justify-content: center;
}

.City-input {
  width: 250px;
}




#root {
  background-color: #000000;
}

@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

#root {
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.scroll > div {
  scroll-snap-align: start;
}

.card {
  width: 50%;
}

p {
  color: #8eb8e5;
}
h1 {
  color: #8eb8e5;
}

button {
  background-color: #8eb8e5;
}

button:hover {
  background-color: aliceblue;
}

.DatePicker {
  orientation: down;
}

.Section2-box {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: #0015297d;
  max-height: 35em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 30em;
  margin-top: 25em;

}

.events-section {
  width:100%;
  
}

.Section3-box {
  width: 77em;
}